*{
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.img-logo{
         width: 595px;
         height: 500px;
         margin-left: 60px;
         display: inline-block;
}

header{
       margin: 144px, 0 144px, 76px;
      }
      .link-header{
                  font-weight: 600;
                  font-size: 24px;
                  line-height: 29px;
                  color: #17233d;
                  cursor: pointer;
                  margin-right: 23px;
      }

      .button-header{
                    background: #4cb538;
                    border-radius: 30px;
                    width: 138px;
                    height: 41px;
                    border: none;
                    cursor: pointer;
                    font-weight: 600;
                    font-size: 24px;
                    line-height: 29px;
                    color: #ffffff;
      }
     
h1{
    font-weight: 300;
    font-size: 50px;
    line-height: 122px;
    color: #161a49 ;
    width: 100;
    height: 164;
    display: inline-block;
}

p{
    font-weight: 400;
    font-size: 18px;
    line-height: 29px;
    color: #4b505a;
    width: 515px;
}

section{
        display: inline-block;
}

.button-learn{
              font-weight: 500;
              font-size: 18px;
              width: 112px;    
              color: #6fbf44;
              cursor: pointer;
              border-radius: 30px;
}


@media screen and (max-width: 900px){
    
    img{
        position: static;
        max-width: 90%;
    }

    header{
         display: none;
         height: auto; /* ou um valor fixo, ex: 60px */
         min-height: 50px;
    }

    h1{
        font-size: 36px;
        line-height: 52px;
        width: auto;
        margin: 58px 50px 0 50px;
        text-align: center;
    }

    p{
        margin: 15px 40px;
        width: auto;
        text-align: center;
        font-size: 14px;
        line-height: 24px;
    }


.button-header{
    margin: 0 auto;
    display: block;
}

.button-learn{
        margin: 0 auto;
    /* text-align: center; */
    /* width: auto; */
    display: block;
}

}